body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:694px;
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:320px;
  height:694px;
}
#u3109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:23px;
  width:320px;
  height:569px;
}
#u3110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:356px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3111_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:8px;
}
#u3111_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:254px;
  height:8px;
}
#u3111_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:-5px;
  width:19px;
  height:18px;
}
#u3111_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:0px;
  width:320px;
  height:569px;
}
#u3112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:1719px;
  top:0px;
  width:320px;
  height:569px;
}
#u3113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  word-wrap:break-word;
}
#u3114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1337px;
  width:320px;
  height:569px;
}
#u3114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:178px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3115_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u3115_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:291px;
  height:8px;
}
#u3115_seg2 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:-11px;
  width:19px;
  height:18px;
}
#u3115_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u3116 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:285px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3116_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:320px;
  height:8px;
}
#u3116_seg1 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3116_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:2023px;
  top:302px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3117_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:203px;
  height:8px;
}
#u3117_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3117_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:2225px;
  top:268px;
  width:200px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:200px;
  word-wrap:break-word;
}
#u3119 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:268px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3119_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1421px;
}
#u3119_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1413px;
  width:278px;
  height:8px;
}
#u3119_seg2 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1408px;
  width:19px;
  height:18px;
}
#u3119_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:839px;
  width:100px;
  word-wrap:break-word;
}
#u3120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:564px;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:656px;
  width:313px;
  height:564px;
}
#u3120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:227px;
  width:0px;
  height:0px;
  color:#006699;
}
#u3121_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u3121_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:110px;
  height:8px;
}
#u3121_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:566px;
}
#u3121_seg3 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:554px;
  width:202px;
  height:8px;
}
#u3121_seg4 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:549px;
  width:19px;
  height:18px;
}
#u3121_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:319px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
