.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.flow_shape {
}
._形状 {
}
._图片 {
}
._图像 {
  color:#000000;
}
._横线 {
}
._垂直线 {
}
.placeholder {
}
.box_1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.label2 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.image {
}
.horizontal_line {
}
.image1 {
}
.arrow {
}
.shape {
}
.paragraph {
  text-align:left;
}
._垂直线1 {
}
._文本 {
  text-align:left;
  line-height:20px;
}
.box_3 {
}
.ellipse {
}
.box_2 {
}
._水平线 {
}
._文本段落1 {
  text-align:left;
}
.flow_shape1 {
}
._形状1 {
}
._文本1 {
  text-align:left;
}
._图片1 {
}
.icon {
}
._水平线1 {
}
._图片2 {
  color:#000000;
}
._单选按钮 {
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image2 {
  color:#000000;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.checkbox {
  text-align:left;
  line-height:normal;
}
.radio_button {
  text-align:left;
}
._连接符 {
}
._表格单元 {
}
._复选框 {
  text-align:left;
}
._一级标题1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.flow_shape2 {
}
._文本段落2 {
  text-align:left;
}
._图片_ {
  color:#000000;
}
._标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.image3 {
  color:#000000;
}
._流程形状1 {
}
