body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2112px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  position:absolute;
  left:45px;
  top:637px;
  width:300px;
  height:142px;
}
#u590 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:223px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  position:absolute;
  left:45px;
  top:789px;
  width:300px;
  height:223px;
}
#u592 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:139px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:139px;
}
#u595 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  position:absolute;
  left:0px;
  top:148px;
  width:375px;
  height:135px;
}
#u598 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
}
#u599 {
  position:absolute;
  left:106px;
  top:41px;
  width:73px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u601 {
  position:absolute;
  left:106px;
  top:183px;
  width:157px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:85px;
}
#u603 {
  position:absolute;
  left:14px;
  top:39px;
  width:82px;
  height:84px;
  color:#999999;
}
#u604 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  word-wrap:break-word;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:114px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u606 {
  position:absolute;
  left:277px;
  top:25px;
  width:98px;
  height:114px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u607 {
  position:absolute;
  left:2px;
  top:49px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  position:absolute;
  left:286px;
  top:41px;
  width:80px;
  height:6px;
}
#u610 {
  position:absolute;
  left:2px;
  top:-5px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  position:absolute;
  left:286px;
  top:41px;
  width:30px;
  height:6px;
}
#u612 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u613 {
  position:absolute;
  left:286px;
  top:93px;
  width:80px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u614 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u615 {
  position:absolute;
  left:295px;
  top:54px;
  width:63px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:87px;
}
#u617 {
  position:absolute;
  left:14px;
  top:183px;
  width:82px;
  height:86px;
  color:#999999;
}
#u618 {
  position:absolute;
  left:2px;
  top:36px;
  width:78px;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:2px;
  top:0px;
  width:373px;
  height:25px;
}
#u620 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u621 {
  position:absolute;
  left:9px;
  top:7px;
  width:85px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:2px;
  top:148px;
  width:373px;
  height:25px;
}
#u624 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u625 {
  position:absolute;
  left:8px;
  top:155px;
  width:109px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u627 {
  position:absolute;
  left:196px;
  top:110px;
  width:45px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u628 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:196px;
  top:256px;
  width:45px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u630 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:110px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u632 {
  position:absolute;
  left:277px;
  top:173px;
  width:98px;
  height:110px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u633 {
  position:absolute;
  left:2px;
  top:47px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:286px;
  top:189px;
  width:80px;
  height:6px;
}
#u636 {
  position:absolute;
  left:2px;
  top:-5px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:286px;
  top:189px;
  width:30px;
  height:6px;
}
#u638 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u639 {
  position:absolute;
  left:286px;
  top:241px;
  width:80px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u640 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u641 {
  position:absolute;
  left:295px;
  top:202px;
  width:63px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:115px;
}
#u643 {
  position:absolute;
  left:277px;
  top:25px;
  width:1px;
  height:114px;
}
#u644 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:115px;
}
#u645 {
  position:absolute;
  left:277px;
  top:173px;
  width:1px;
  height:114px;
}
#u646 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:0px;
  top:293px;
  width:375px;
  height:135px;
}
#u649 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u650 {
  position:absolute;
  left:106px;
  top:328px;
  width:157px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:87px;
}
#u652 {
  position:absolute;
  left:14px;
  top:328px;
  width:82px;
  height:86px;
  color:#999999;
}
#u653 {
  position:absolute;
  left:2px;
  top:36px;
  width:78px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:2px;
  top:293px;
  width:373px;
  height:25px;
}
#u655 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u656 {
  position:absolute;
  left:8px;
  top:300px;
  width:109px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:196px;
  top:401px;
  width:45px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:110px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u661 {
  position:absolute;
  left:277px;
  top:318px;
  width:98px;
  height:110px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u662 {
  position:absolute;
  left:2px;
  top:47px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  position:absolute;
  left:286px;
  top:334px;
  width:80px;
  height:6px;
}
#u665 {
  position:absolute;
  left:2px;
  top:-5px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:286px;
  top:334px;
  width:30px;
  height:6px;
}
#u667 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u668 {
  position:absolute;
  left:286px;
  top:386px;
  width:80px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u669 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u670 {
  position:absolute;
  left:295px;
  top:347px;
  width:63px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:115px;
}
#u672 {
  position:absolute;
  left:277px;
  top:318px;
  width:1px;
  height:114px;
}
#u673 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:1px;
  top:440px;
  width:375px;
  height:135px;
}
#u676 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u677 {
  position:absolute;
  left:107px;
  top:475px;
  width:157px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:87px;
}
#u679 {
  position:absolute;
  left:15px;
  top:475px;
  width:82px;
  height:86px;
  color:#999999;
}
#u680 {
  position:absolute;
  left:2px;
  top:36px;
  width:78px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:3px;
  top:440px;
  width:373px;
  height:25px;
}
#u682 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:12px;
}
#u683 {
  position:absolute;
  left:9px;
  top:447px;
  width:97px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:195px;
  top:548px;
  width:45px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u686 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:110px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u688 {
  position:absolute;
  left:278px;
  top:465px;
  width:98px;
  height:110px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u689 {
  position:absolute;
  left:2px;
  top:47px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  position:absolute;
  left:287px;
  top:481px;
  width:80px;
  height:6px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-5px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:287px;
  top:481px;
  width:30px;
  height:6px;
}
#u694 {
  position:absolute;
  left:2px;
  top:-5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u695 {
  position:absolute;
  left:287px;
  top:533px;
  width:80px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u696 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u697 {
  position:absolute;
  left:296px;
  top:494px;
  width:63px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:115px;
}
#u699 {
  position:absolute;
  left:278px;
  top:465px;
  width:1px;
  height:114px;
}
#u700 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:13px;
}
#u701 {
  position:absolute;
  left:106px;
  top:257px;
  width:80px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.376470588235294);
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:13px;
}
#u703 {
  position:absolute;
  left:106px;
  top:110px;
  width:90px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.376470588235294);
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:13px;
}
#u705 {
  position:absolute;
  left:106px;
  top:401px;
  width:157px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.376470588235294);
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:13px;
}
#u707 {
  position:absolute;
  left:107px;
  top:548px;
  width:157px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.376470588235294);
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:477px;
  top:7px;
  width:943px;
  height:29px;
}
#u710 {
  position:absolute;
  left:2px;
  top:7px;
  width:939px;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  position:absolute;
  left:1430px;
  top:7px;
  width:513px;
  height:29px;
}
#u712 {
  position:absolute;
  left:2px;
  top:6px;
  width:509px;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u713 {
  position:absolute;
  left:45px;
  top:614px;
  width:300px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u715 {
  position:absolute;
  left:45px;
  top:702px;
  width:300px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u717 {
  position:absolute;
  left:45px;
  top:637px;
  width:89px;
  height:56px;
}
#u718 {
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u719 {
  position:absolute;
  left:44px;
  top:789px;
  width:91px;
  height:44px;
}
#u720 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u721 {
  position:absolute;
  left:45px;
  top:843px;
  width:300px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:45px;
  top:882px;
  width:300px;
  height:56px;
}
#u725 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
}
#u726 {
  position:absolute;
  left:82px;
  top:902px;
  width:226px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u728 {
  position:absolute;
  left:45px;
  top:958px;
  width:300px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:480px;
  top:51px;
  width:1637px;
  height:601px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u732 {
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u733 {
  position:absolute;
  left:288px;
  top:0px;
  width:288px;
  height:30px;
}
#u734 {
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u735 {
  position:absolute;
  left:576px;
  top:0px;
  width:63px;
  height:30px;
}
#u736 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u737 {
  position:absolute;
  left:639px;
  top:0px;
  width:157px;
  height:30px;
}
#u738 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u739 {
  position:absolute;
  left:796px;
  top:0px;
  width:152px;
  height:30px;
}
#u740 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u741 {
  position:absolute;
  left:948px;
  top:0px;
  width:305px;
  height:30px;
}
#u742 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u743 {
  position:absolute;
  left:1253px;
  top:0px;
  width:379px;
  height:30px;
}
#u744 {
  position:absolute;
  left:2px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:152px;
}
#u745 {
  position:absolute;
  left:0px;
  top:30px;
  width:288px;
  height:152px;
}
#u746 {
  position:absolute;
  left:2px;
  top:67px;
  width:284px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:152px;
}
#u747 {
  position:absolute;
  left:288px;
  top:30px;
  width:288px;
  height:152px;
}
#u748 {
  position:absolute;
  left:2px;
  top:53px;
  width:284px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:152px;
}
#u749 {
  position:absolute;
  left:576px;
  top:30px;
  width:63px;
  height:152px;
}
#u750 {
  position:absolute;
  left:2px;
  top:68px;
  width:59px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:152px;
}
#u751 {
  position:absolute;
  left:639px;
  top:30px;
  width:157px;
  height:152px;
}
#u752 {
  position:absolute;
  left:2px;
  top:67px;
  width:153px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u753 {
  position:absolute;
  left:796px;
  top:30px;
  width:152px;
  height:152px;
}
#u754 {
  position:absolute;
  left:2px;
  top:67px;
  width:148px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:152px;
}
#u755 {
  position:absolute;
  left:948px;
  top:30px;
  width:305px;
  height:152px;
}
#u756 {
  position:absolute;
  left:2px;
  top:-4px;
  width:301px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:152px;
}
#u757 {
  position:absolute;
  left:1253px;
  top:30px;
  width:379px;
  height:152px;
}
#u758 {
  position:absolute;
  left:2px;
  top:40px;
  width:375px;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:85px;
}
#u759 {
  position:absolute;
  left:0px;
  top:182px;
  width:288px;
  height:85px;
}
#u760 {
  position:absolute;
  left:2px;
  top:34px;
  width:284px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:85px;
}
#u761 {
  position:absolute;
  left:288px;
  top:182px;
  width:288px;
  height:85px;
}
#u762 {
  position:absolute;
  left:2px;
  top:27px;
  width:284px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:85px;
}
#u763 {
  position:absolute;
  left:576px;
  top:182px;
  width:63px;
  height:85px;
}
#u764 {
  position:absolute;
  left:2px;
  top:35px;
  width:59px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:85px;
}
#u765 {
  position:absolute;
  left:639px;
  top:182px;
  width:157px;
  height:85px;
}
#u766 {
  position:absolute;
  left:2px;
  top:34px;
  width:153px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:85px;
}
#u767 {
  position:absolute;
  left:796px;
  top:182px;
  width:152px;
  height:85px;
}
#u768 {
  position:absolute;
  left:2px;
  top:34px;
  width:148px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:85px;
}
#u769 {
  position:absolute;
  left:948px;
  top:182px;
  width:305px;
  height:85px;
}
#u770 {
  position:absolute;
  left:2px;
  top:34px;
  width:301px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:85px;
}
#u771 {
  position:absolute;
  left:1253px;
  top:182px;
  width:379px;
  height:85px;
}
#u772 {
  position:absolute;
  left:2px;
  top:16px;
  width:375px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:228px;
}
#u773 {
  position:absolute;
  left:0px;
  top:267px;
  width:288px;
  height:228px;
}
#u774 {
  position:absolute;
  left:2px;
  top:105px;
  width:284px;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:228px;
}
#u775 {
  position:absolute;
  left:288px;
  top:267px;
  width:288px;
  height:228px;
}
#u776 {
  position:absolute;
  left:2px;
  top:106px;
  width:284px;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:228px;
}
#u777 {
  position:absolute;
  left:576px;
  top:267px;
  width:63px;
  height:228px;
}
#u778 {
  position:absolute;
  left:2px;
  top:106px;
  width:59px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:228px;
}
#u779 {
  position:absolute;
  left:639px;
  top:267px;
  width:157px;
  height:228px;
}
#u780 {
  position:absolute;
  left:2px;
  top:105px;
  width:153px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:228px;
}
#u781 {
  position:absolute;
  left:796px;
  top:267px;
  width:152px;
  height:228px;
}
#u782 {
  position:absolute;
  left:2px;
  top:105px;
  width:148px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:228px;
}
#u783 {
  position:absolute;
  left:948px;
  top:267px;
  width:305px;
  height:228px;
}
#u784 {
  position:absolute;
  left:2px;
  top:26px;
  width:301px;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:228px;
}
#u785 {
  position:absolute;
  left:1253px;
  top:267px;
  width:379px;
  height:228px;
}
#u786 {
  position:absolute;
  left:2px;
  top:87px;
  width:375px;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:101px;
}
#u787 {
  position:absolute;
  left:0px;
  top:495px;
  width:288px;
  height:101px;
}
#u788 {
  position:absolute;
  left:2px;
  top:42px;
  width:284px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:101px;
}
#u789 {
  position:absolute;
  left:288px;
  top:495px;
  width:288px;
  height:101px;
}
#u790 {
  position:absolute;
  left:2px;
  top:10px;
  width:284px;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:101px;
}
#u791 {
  position:absolute;
  left:576px;
  top:495px;
  width:63px;
  height:101px;
}
#u792 {
  position:absolute;
  left:2px;
  top:43px;
  width:59px;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:101px;
}
#u793 {
  position:absolute;
  left:639px;
  top:495px;
  width:157px;
  height:101px;
}
#u794 {
  position:absolute;
  left:2px;
  top:42px;
  width:153px;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:101px;
}
#u795 {
  position:absolute;
  left:796px;
  top:495px;
  width:152px;
  height:101px;
}
#u796 {
  position:absolute;
  left:2px;
  top:42px;
  width:148px;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:101px;
}
#u797 {
  position:absolute;
  left:948px;
  top:495px;
  width:305px;
  height:101px;
}
#u798 {
  position:absolute;
  left:2px;
  top:6px;
  width:301px;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:101px;
}
#u799 {
  position:absolute;
  left:1253px;
  top:495px;
  width:379px;
  height:101px;
}
#u800 {
  position:absolute;
  left:2px;
  top:14px;
  width:375px;
  word-wrap:break-word;
}
