body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:350px;
  height:23px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont G3', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:23px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:70px;
  width:350px;
  height:21px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont G3', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
