
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:46px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:15px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610 {
  position:absolute;
  left:4770px;
  top:1804px;
  width:125px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:13px;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2612 {
  position:absolute;
  left:4860px;
  top:1982px;
  width:30px;
  height:30px;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614 {
  position:absolute;
  left:4855px;
  top:1978px;
  width:40px;
  height:40px;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2615 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616 {
  position:absolute;
  left:3556px;
  top:1663px;
  width:300px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u2617 {
  position:absolute;
  left:0px;
  top:27px;
  width:300px;
  word-wrap:break-word;
}
#u2618 {
  position:absolute;
  left:740px;
  top:478px;
  width:89px;
  height:33px;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u2619 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620 {
  position:absolute;
  left:950px;
  top:817px;
  width:138px;
  height:144px;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:144px;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u2622 {
  position:absolute;
  left:40px;
  top:36px;
  width:806px;
  height:240px;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:240px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:112px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
