body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:20px;
  width:202px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:24px;
  top:63px;
  width:897px;
  height:681px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:681px;
}
#u3 {
  position:absolute;
  left:2px;
  top:332px;
  width:893px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-25px;
  top:744px;
  width:985px;
  height:684px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:684px;
}
#u5 {
  position:absolute;
  left:2px;
  top:334px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-11px;
  top:1438px;
  width:941px;
  height:819px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:819px;
}
#u7 {
  position:absolute;
  left:2px;
  top:402px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:2267px;
  width:921px;
  height:624px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:624px;
}
#u9 {
  position:absolute;
  left:2px;
  top:304px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:2642px;
  width:873px;
  height:709px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:709px;
}
#u11 {
  position:absolute;
  left:2px;
  top:346px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:3351px;
  width:846px;
  height:479px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:479px;
}
#u13 {
  position:absolute;
  left:2px;
  top:232px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
