body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:22px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:46px;
  width:31px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:78px;
  top:46px;
  width:200px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:48px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:274px;
  top:46px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:40px;
  top:443px;
  width:278px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:274px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:122px;
  top:493px;
  width:133px;
  height:16px;
  font-size:11px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:104px;
  top:493px;
  width:19px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:128px;
  width:320px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:136px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:314px;
  top:140px;
  width:15px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:175px;
  width:320px;
  height:39px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:40px;
  top:183px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:314px;
  top:187px;
  width:15px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:270px;
  top:142px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:270px;
  top:189px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:81px;
  width:320px;
  height:39px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:89px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:314px;
  top:93px;
  width:15px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:270px;
  top:95px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:225px;
  top:80px;
  width:40px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:329px;
  top:96px;
  width:97px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u45 {
  position:absolute;
  left:426px;
  top:70px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:476px;
  top:225px;
  width:0px;
  height:-95px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_seg0 {
  position:absolute;
  left:-10px;
  top:-99px;
  width:20px;
  height:109px;
}
#u48 {
  position:absolute;
  left:-50px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:526px;
  top:100px;
  width:230px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:244px;
  height:20px;
}
#u50 {
  position:absolute;
  left:65px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:391px;
  top:228px;
  width:170px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:401px;
  top:244px;
  width:150px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:756px;
  top:70px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:806px;
  top:225px;
  width:0px;
  height:-95px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u57_seg0 {
  position:absolute;
  left:-10px;
  top:-99px;
  width:20px;
  height:109px;
}
#u58 {
  position:absolute;
  left:-50px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:721px;
  top:228px;
  width:170px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
}
#u60 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:731px;
  top:244px;
  width:150px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:856px;
  top:100px;
  width:230px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u63_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:244px;
  height:20px;
}
#u64 {
  position:absolute;
  left:65px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1086px;
  top:20px;
  width:320px;
  height:568px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u66 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1406px;
  top:112px;
  width:230px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:244px;
  height:20px;
}
#u68 {
  position:absolute;
  left:65px;
  top:-27px;
  width:100px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1246px;
  top:683px;
  width:0px;
  height:-95px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u69_seg0 {
  position:absolute;
  left:-10px;
  top:-99px;
  width:20px;
  height:109px;
}
#u70 {
  position:absolute;
  left:-50px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1161px;
  top:686px;
  width:170px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
}
#u72 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1171px;
  top:702px;
  width:150px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1640px;
  top:20px;
  width:320px;
  height:568px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u76 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1646px;
  top:22px;
  width:308px;
  height:13px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1642px;
  top:46px;
  width:31px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1698px;
  top:46px;
  width:200px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1668px;
  top:48px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1894px;
  top:46px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1660px;
  top:443px;
  width:278px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:11px;
  width:274px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1742px;
  top:493px;
  width:133px;
  height:16px;
  font-size:11px;
  color:#CCCCCC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1724px;
  top:493px;
  width:19px;
  height:19px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1640px;
  top:128px;
  width:320px;
  height:39px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1660px;
  top:136px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:1934px;
  top:140px;
  width:15px;
  height:15px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u98 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1640px;
  top:175px;
  width:320px;
  height:39px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1660px;
  top:183px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1934px;
  top:187px;
  width:15px;
  height:15px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u104 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1890px;
  top:142px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1890px;
  top:189px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1640px;
  top:81px;
  width:320px;
  height:39px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1660px;
  top:89px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1934px;
  top:93px;
  width:15px;
  height:15px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u114 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1890px;
  top:95px;
  width:44px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0099CC;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:11px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1715px;
  top:290px;
  width:170px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
}
#u118 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1725px;
  top:306px;
  width:150px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
