body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:646px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:646px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(87, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:374px;
  height:29px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:33px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:16px;
  height:5px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:26px;
  width:13px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:374px;
  height:1px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:374px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:374px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:101px;
  width:141px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:151px;
  width:49px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:49px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:374px;
  height:1px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:374px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:374px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:201px;
  width:135px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:135px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:251px;
  width:88px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:88px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
  background:inherit;
  background-color:rgba(87, 160, 255, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:374px;
  height:51px;
  text-align:left;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:51px;
  width:37px;
  height:51px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:37px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:65px;
  width:40px;
  height:18px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:47px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:353px;
  width:327px;
  height:47px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u78_img.mouseDown {
}
#u78.mouseDown {
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:413px;
  width:321px;
  height:16px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:321px;
  width:352px;
  height:16px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u80_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:119px;
  width:16px;
  height:16px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:168px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:218px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:268px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
