body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:22px;
  top:892px;
  width:321px;
  height:585px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:585px;
}
#u1 {
  position:absolute;
  left:2px;
  top:284px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:1417px;
  width:254px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:57px;
  top:1413px;
  width:254px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:237px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:254px;
  height:1px;
}
#u5 {
  position:absolute;
  left:137px;
  top:1424px;
  width:90px;
  height:14px;
  font-size:10px;
  text-decoration:underline;
  color:#0066FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:45px;
  top:1415px;
  width:280px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:311px;
  top:1428px;
  width:94px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u10 {
  position:absolute;
  left:405px;
  top:919px;
  width:311px;
  height:560px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:560px;
}
#u11 {
  position:absolute;
  left:2px;
  top:272px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:407px;
  top:904px;
  width:131px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:28px;
  top:800px;
  width:300px;
  height:82px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:22px;
  top:27px;
  width:818px;
  height:148px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:148px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:397px;
  top:230px;
  width:311px;
  height:560px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:560px;
}
#u19 {
  position:absolute;
  left:2px;
  top:272px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:399px;
  top:215px;
  width:131px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:480px;
  top:258px;
  width:220px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:487px;
  top:260px;
  width:131px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:401px;
  top:285px;
  width:301px;
  height:503px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:503px;
}
#u27 {
  position:absolute;
  left:2px;
  top:244px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:403px;
  top:287px;
  width:299px;
  height:478px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:478px;
}
#u29 {
  position:absolute;
  left:2px;
  top:231px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:712px;
  top:625px;
  width:200px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:72px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:22px;
  top:230px;
  width:309px;
  height:550px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:550px;
}
#u33 {
  position:absolute;
  left:2px;
  top:267px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:440px;
  width:309px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:26px;
  width:305px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:303px;
  top:470px;
  width:94px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u37 {
  position:absolute;
  left:249px;
  top:520px;
  width:131px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
