
#u2702 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2703 {
  position:absolute;
  left:252px;
  top:446px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u2704 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2705 {
  position:absolute;
  left:236px;
  top:466px;
  width:73px;
  height:42px;
  font-size:36px;
}
#u2705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2706 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2707 {
  position:absolute;
  left:155px;
  top:543px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u2708 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2709 {
  position:absolute;
  left:131px;
  top:525px;
  width:69px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3366FF;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2711 {
  position:absolute;
  left:147px;
  top:446px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u2712 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2713 {
  position:absolute;
  left:129px;
  top:466px;
  width:73px;
  height:42px;
  font-size:36px;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2714 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2715 {
  position:absolute;
  left:44px;
  top:543px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u2716 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2717 {
  position:absolute;
  left:22px;
  top:526px;
  width:63px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3366FF;
}
#u2717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
}
#u2718 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2719 {
  position:absolute;
  left:36px;
  top:446px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u2720 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2721 {
  position:absolute;
  left:18px;
  top:466px;
  width:73px;
  height:42px;
  font-size:36px;
}
#u2721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u2722 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2723 {
  position:absolute;
  left:137px;
  top:395px;
  width:53px;
  height:18px;
}
#u2723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u2724 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2725 {
  position:absolute;
  left:232px;
  top:1670px;
  width:79px;
  height:28px;
}
#u2725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u2726 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2727 {
  position:absolute;
  left:24px;
  top:547px;
  width:16px;
  height:8px;
}
#u2727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u2728 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729 {
  position:absolute;
  left:134px;
  top:546px;
  width:16px;
  height:8px;
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u2730 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2731 {
  position:absolute;
  left:234px;
  top:546px;
  width:16px;
  height:8px;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u2732 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
