
#u18886 {
  border-width:0px;
  position:absolute;
  left:3701px;
  top:188px;
  width:110px;
  height:1px;
}
#u18886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u18888 {
  border-width:0px;
  position:absolute;
  left:3814px;
  top:88px;
  width:227px;
  height:58px;
  color:#009900;
}
#u18888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u18889_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:134px;
  height:19px;
}
#u18889p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:128px;
  height:6px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
#u18889p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:6px;
}
#u18889p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
#u18889p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u18889p002 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:4px;
  height:2px;
  -webkit-transform:rotate(-330deg);
  -moz-transform:rotate(-330deg);
  -ms-transform:rotate(-330deg);
  transform:rotate(-330deg);
}
#u18889p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u18889 {
  border-width:0px;
  position:absolute;
  left:3694px;
  top:153px;
  width:124px;
  height:1px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u18889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u18891 {
  border-width:0px;
  position:absolute;
  left:3815px;
  top:244px;
  width:242px;
  height:54px;
  color:#009900;
}
#u18891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u18892_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:119px;
  height:19px;
}
#u18892p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:6px;
}
#u18892p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:6px;
}
#u18892p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:22px;
  height:20px;
}
#u18892p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u18892p002 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-1px;
  width:4px;
  height:4px;
}
#u18892p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u18892 {
  border-width:0px;
  position:absolute;
  left:3703px;
  top:267px;
  width:109px;
  height:1px;
}
#u18892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u18894 {
  border-width:0px;
  position:absolute;
  left:5019px;
  top:181px;
  width:249px;
  height:198px;
  color:#009900;
}
#u18894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u18895_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:120px;
  height:19px;
}
#u18895p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:116px;
  height:6px;
}
#u18895p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u18895p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:22px;
  height:20px;
}
#u18895p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u18895p002 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:4px;
  height:2px;
}
#u18895p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u18895 {
  border-width:0px;
  position:absolute;
  left:4977px;
  top:176px;
  width:110px;
  height:1px;
}
#u18895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
