body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:216px;
  width:268px;
  height:484px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:484px;
}
#u3 {
  position:absolute;
  left:2px;
  top:234px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:16px;
  width:290px;
  height:51px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:51px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:100px;
  width:250px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:8px;
  top:170px;
  width:132px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
