body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:17px;
  top:264px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:17px;
  top:288px;
  width:278px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u5 {
  position:absolute;
  left:272px;
  top:267px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:236px;
  top:266px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:17px;
  top:308px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:17px;
  top:332px;
  width:278px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u12 {
  position:absolute;
  left:272px;
  top:311px;
  width:15px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:236px;
  top:310px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:17px;
  top:352px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:17px;
  top:376px;
  width:278px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u19 {
  position:absolute;
  left:272px;
  top:355px;
  width:15px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:236px;
  top:354px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:17px;
  top:396px;
  width:113px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:17px;
  top:420px;
  width:278px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u26 {
  position:absolute;
  left:272px;
  top:399px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:236px;
  top:398px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:5px;
  top:42px;
  width:308px;
  height:13px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1px;
  top:66px;
  width:31px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:58px;
  top:66px;
  width:200px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:27px;
  top:68px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:253px;
  top:66px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:18px;
  top:113px;
  width:271px;
  height:116px;
}
#u40_img {
  position:absolute;
  left:-10px;
  top:-5px;
  width:291px;
  height:136px;
}
#u41 {
  position:absolute;
  left:2px;
  top:50px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:63px;
  top:148px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:50px;
  top:128px;
  width:92px;
  height:18px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:194px;
  top:128px;
  width:53px;
  height:18px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:194px;
  top:148px;
  width:21px;
  height:21px;
  font-size:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:217px;
  top:146px;
  width:33px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:18px;
  top:173px;
  width:271px;
  height:61px;
}
#u52_img {
  position:absolute;
  left:-10px;
  top:-5px;
  width:291px;
  height:81px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:121px;
  top:179px;
  width:66px;
  height:18px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:125px;
  top:210px;
  width:56px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:152px;
  top:124px;
  width:10px;
  height:49px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:32px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:49px;
}
#u59 {
  position:absolute;
  left:97px;
  top:197px;
  width:113px;
  height:11px;
  font-size:8px;
  color:#CCCCCC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:11px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:10px;
  top:110px;
  width:290px;
  height:130px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:130px;
}
#u62 {
  position:absolute;
  left:2px;
  top:57px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:299px;
  top:109px;
  width:138px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:121px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:138px;
  height:1px;
}
#u64 {
  position:absolute;
  left:323px;
  top:94px;
  width:117px;
  height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:447px;
  top:40px;
  width:320px;
  height:568px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u68 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:464px;
  top:264px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:464px;
  top:288px;
  width:278px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u72 {
  position:absolute;
  left:719px;
  top:267px;
  width:15px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u73 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:683px;
  top:266px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:464px;
  top:308px;
  width:65px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:464px;
  top:332px;
  width:278px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u79 {
  position:absolute;
  left:719px;
  top:311px;
  width:15px;
  height:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u80 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:683px;
  top:310px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:464px;
  top:352px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:464px;
  top:376px;
  width:278px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u86 {
  position:absolute;
  left:719px;
  top:355px;
  width:15px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u87 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:683px;
  top:354px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:464px;
  top:396px;
  width:113px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:464px;
  top:420px;
  width:278px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u93 {
  position:absolute;
  left:719px;
  top:399px;
  width:15px;
  height:15px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u94 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:683px;
  top:398px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#CCCCCC;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:452px;
  top:42px;
  width:308px;
  height:13px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:448px;
  top:66px;
  width:31px;
  height:19px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:505px;
  top:66px;
  width:200px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:474px;
  top:68px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:700px;
  top:66px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:468px;
  top:105px;
  width:270px;
  height:135px;
  font-size:20px;
  color:#FF0000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:135px;
}
#u108 {
  position:absolute;
  left:2px;
  top:40px;
  width:266px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:694px;
  top:166px;
  width:196px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  visibility:hidden;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:776px;
  top:109px;
  width:53px;
  height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
