body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:896px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:84px;
  width:669px;
  height:896px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:323px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:629px;
  width:166px;
  height:323px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 51, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:31px;
  width:80px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#006699;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:420px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#006699;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:323px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:7032px;
  top:3100px;
  width:166px;
  height:323px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:567px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:132px;
  width:292px;
  height:567px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:193px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:7215px;
  top:3165px;
  width:180px;
  height:193px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:193px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:7215px;
  top:3165px;
  width:180px;
  height:193px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#006699;
  text-align:center;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:126px;
  width:156px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#006699;
  text-align:center;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:63px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:360px;
  width:186px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:182px;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:392px;
  width:0px;
  height:0px;
  color:#006699;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:-9px;
  width:19px;
  height:18px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:392px;
  width:0px;
  height:0px;
  color:#006699;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:218px;
  height:8px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-9px;
  width:19px;
  height:18px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:423px;
  width:0px;
  height:0px;
  color:#006699;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:168px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:160px;
  width:6px;
  height:8px;
}
#u152_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:155px;
  width:19px;
  height:18px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:280px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:671px;
  width:162px;
  height:280px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:158px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:605px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:155px;
  width:320px;
  height:569px;
  color:#BD9D64;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:372px;
  width:61px;
  height:29px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BD9D64;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:376px;
  width:41px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BD9D64;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:388px;
  width:0px;
  height:0px;
  color:#006699;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-10px;
  width:141px;
  height:8px;
}
#u161_seg2 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-15px;
  width:19px;
  height:18px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:122px;
  width:320px;
  height:569px;
  color:#BD9D64;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#006699;
  text-align:center;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:101px;
  width:97px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#006699;
  text-align:center;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:352px;
  width:100px;
  height:60px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:382px;
  width:0px;
  height:0px;
  color:#006699;
}
#u167_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u167_seg1 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:-9px;
  width:19px;
  height:18px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:412px;
  width:0px;
  height:0px;
  color:#006699;
}
#u168_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:197px;
}
#u168_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:180px;
  width:18px;
  height:19px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:90px;
  width:100px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:605px;
  width:270px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:266px;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:747px;
  width:380px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:712px;
  width:65px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:270px;
  width:380px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:120px;
  height:19px;
}
#u174p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:116px;
  height:6px;
}
#u174p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u174p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:22px;
  height:20px;
}
#u174p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u174p002 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-1px;
  width:4px;
  height:4px;
}
#u174p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:265px;
  width:110px;
  height:1px;
  color:#006699;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:436px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:629px;
  width:345px;
  height:436px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:816px;
  width:380px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006699;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:120px;
  height:19px;
}
#u177p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:114px;
  height:6px;
}
#u177p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:6px;
}
#u177p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:22px;
  height:20px;
}
#u177p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u177p002 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-1px;
  width:4px;
  height:4px;
}
#u177p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:811px;
  width:110px;
  height:1px;
  color:#006699;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:783px;
  width:380px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:748px;
  width:65px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
